.multimedia {
    background-color: black;
    color: white;
}

.carousel {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;

    background-color: black;

    height: 100vh;
    color: inherit;

    &-item,
    &-inner {
        position: relative;
        z-index: 1;
    }

    &-item {

        active {
            position: relative;
            border: 1px solid white;
            z-index: 1;
        }
    }

    &-inner {
        z-index: 1;
    }

    &-caption {
        background-color: rgba( black, 0.6 );
        padding: 10px;
        border-top: 1px solid rgba(white, 0.1);
    }
}

.slide {
    color: inherit;
}

.carousel img {
    margin: auto;
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;

    width: auto !important;
    height: 100vh;
    --object-fit: cover;
    --object-position: center top;

    // -webkit-object-fit: var(--object-fit);
    // object-fit: var(--object-fit);

    // -webkit-object-position: var(--object-position);
    // object-position: var(--object-position);

    z-index: 1;
}

.regalo {
    position: fixed;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-color: rgba(black, 0.95);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;

    button {
        display: block;
        background-color: rgba( black, 0.9 );
        color: white !important;
        border: 1px solid rgba(white, 0.2);
        outline: medium none;
        color: inherit;
        height: 100px;
        width: 400px;
        max-width: calc(100% - 20px);   
        font-size: 2rem;
        transition: 300ms ease;
        border-radius: 20px 0 20px 0;
        z-index: 100;

        &:hover {
            background-color: rgba( darken(#0080d4, 20), 0.9);
        }
    }
}